
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,600;0,900;1,100;1,200&display=swap');

:root {
    --theme: #e43a47;
    --gray : #efefef;
}

body, button {font-family: 'Poppins', sans-serif}

* {padding: 0;
margin: 0;
box-sizing: border-box;}

p {
    font-size: 14px;
    line-height: 26px;
}

.SectionTitle {
    width: 300px;
    text-align: center;
    border-bottom: 3px solid var(--theme);
    font-size: 2rem;
    font-weight: 200;
    margin: 0 auto 50px;
    position: relative;
    padding: 10px 0;
    text-transform: uppercase;
}
.SectionTitle::after{
    display: inline-block;
    content: "";
    height: 15px;
    width: 15px;
    background-color: var(--theme);
    position: absolute;
    left: calc(50% - 10px);
    right: calc(75% - 7px);
    transform: rotate(45deg) translate(175%, 175%);
    border: 3px solid #fff;
}

section{
    padding: 100px 0;
    position: relative;
}

.fullContainer{
    width: 100%;
}
.container {
    margin: auto;
    width: 1140px;
}

header {width: 100%;
background-color: rgba(0, 0, 0, 0.6);
position: fixed;
z-index: 2;}

header .container 
{display: flex;
justify-content: space-between;}

header .container .logo {
    padding: 15px 0;
    height: 75px;
}

header .container .logo img {
    height: 100%;
}

header nav ul {
    list-style-type: none;
}
header nav ul li{
    display: inline-block;
}

header nav ul li a {
    display: inline-block;
    height: 75px;
    line-height: 75px;
    padding: 0 15px;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 16px;
    color: #fff;
    transition: 0.3s;
}

header nav ul li a:hover{
    background-color:var(--theme)
}

.banner {
 min-height: 100vh;
    width: 100%;
    background-image: url(/Media/SunsetFarm.jpg);
    background-size: cover;
    background-attachment: fixed;

}

.banner h1 {
    margin-top: 230px;
    display: inline-block;
    font-size: 3.5rem;
    color: #fff;
    text-shadow: 1px 1px, 1px 1px rgba(255, 255, 255, 0.8);
    width: 50%;
    font-weight: 400;
}
.banner h1 span {
    background-color: var(--theme);
    display: inline-block;
    line-height: 3.5rem;
    padding: 10px 15px 15px 15px;
    font-weight: 600px;
    border-radius: 5px;
}

.banner p {
    color: #fff;
    width: 50%;
    text-shadow: 0 0 2px #000;
    margin-top: 10px;
}

.banner button {
    background-color: var(--theme);
    color: #fff;
    border: 0;
    outline: none;
    padding: 10px 15px;
    margin-top: 20px;
    font-size: 13px;
    border-radius: 3px;
    font-weight: 400;
}

.banner button a {
    text-decoration: none;
    transition: 0.3s;
    color: #fff;
}
#AbtUsSection .cards{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
margin-top: 50px;
position: relative;
height: 245px;
}

#AbtUsSection .cards > div {
    width: 350px;
    background-color: var(--gray);
    padding: 35px;
    color: #444;
    text-align: center;
    border-radius: 15px;
    height: 215px;
    border: 1px solid #ccc;
}   

/*

.logoContainer {display: flex;}

.header2{background-color:#1f2205;
display: flex;
justify-content: center;
padding-bottom: 170px;}

ul
{display: flex;
gap:30px;
list-style: none;
padding: 28px 0px 0px 0px;
margin: 10px 0px 0px 0px;
font-size: 20px;}

a {
text-decoration: none;
color:#1f2205;}

.name {padding: 32px 0px 0px 0px;
margin: 10px 0px 0px -10px;}

.logo{
    padding: 30px;
    display: flex;

    align-items: center;
    color: #f9faf8;
    text-align: center;
}
.logo img {
    max-width: 100px;
}
.img {display: flex;
flex: 1;
flex-wrap: nowrap;}


.links {padding: 30px;}

.Info{display: flex;
padding: 30px;
gap:100px;
padding-left: 50px;
padding-top: 50px;
}

.Info2{display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap:10px;
flex-wrap: wrap;
flex: 1;
padding-left: 50px;}

 h1{font-size: 48px;
font-weight:bolder;
color: #1f2205;}

.heading h1 , .heading2 h1{
    color: #e5e7eb;}

.text {font-size: 23px;
color: #e5e7eb;
padding: 20px;
text-shadow: 2px 1px black;}

p {text-align: center;}

.button a{ color:#e5e7eb}

button{border-radius: 1px;
background-color: #53900f;
padding: 14px 28px;
font-size: 19px;
color: #e5e7eb;
text-shadow: 1px 1px white;}

img {display: flex;
flex:1;
max-width :100% ;
height: auto;
border-radius: 12px;}

.ourWork {display: flex;
flex-direction: column;
align-items: center;
margin:50px 15px 0px 15px;
padding: 5px;
gap: 30px;}

.text3 h1{
    color:#1F2937;
    font-size: 36px;
    margin-bottom: 30px;
}

.imgCards{
    display: flex;
    justify-content: center;
gap:20px;
}
.imgCard {
    display: flex;
    flex-direction: column;
}
.caption {
    text-align: center;
}
.image1{
    display: flex;
    flex-direction: column;
    border-color:#1f6521;

}
.funFact{background-color: #e5e7eb;
    display: flex;
justify-content: center;
margin-top: 20px;
font-size: 28px;
font-style: italic;
flex-wrap: wrap;
align-items: center;
padding: 20px;
margin-bottom: 20px;
}

.footerContainer{
    display: flex;
    justify-content: center;
}
.footer {background-color: #1f2205;
display: flex;
justify-content: center;
gap: 30px;
padding: 10px;
border-radius: 10px;
width: 1000px;
}
.txtContainer {
    display: flex;
    flex-direction: column;
    padding: 30px;
}
 .text6 {font-size: 28px;
color: #f9faf8;
padding-top: px;
text-align: center;}

.button {
color: #f9faf8;
margin-top: 30px
flex-direction: row;
justify-content: center;}

.text7 p {color:#f9faf8;
font-size: 20px;}

.img {display: flex;
flex-direction: column;
align-items: center;
justify-content: center;}

/*dropdown menu 
.links ul li {
    position: relative;}
    
    .links ul .dropdown {
        position: absolute;
        background-color: #e5e7eb;
        gap: 15px;
    }
    .dropdown2{display: none;
        flex-direction: column;
    position: absolute;
        background-color: #e5e7eb;
    }
    
    .links ul li ul.dropdown li a:hover {
        background-color: darkgray; 
    }
    
    .links ul li ul.dropdown {width: 180px;
    border-radius: 0 0 4px 4px;
    display: none;
    padding: 10px;}
    
    .links ul li:hover ul.dropdown {
        display: flex;
        flex-direction: column;
    }
    nav {width: 100%;} 
    .links ul li:hover ul.dropdown2{display: flex;}
    

    /*carousel*/
/*
    .carousel{
        overflow: hidden;
        width: 100vw;
        height: 100vh;
        position: relative;
    ;
        
    }
    
    
    .carousel .img { position: absolute;
        top:0;
        left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    opacity: .8;
    
    background-position: center;
        animation: slider 20s infinite;
       }
    .carousel .Slide1{
        background-image: url(Media/Picking%20crops.jpg);
        animation-delay: -0s;}
    .carousel .Slide2{background-image: url(Media/popo%20farmer.jpg);
        animation-delay: -4s;}
    .carousel .Slide3{background-image: url(Media/people%20picking%20rice.jpg);
        animation-delay: -8s;}
    .carousel .Slide4{background-image: url(Media/People%20picking%20ifishimu.jpg);
        animation-delay: -12s;}
    .carousel .Slide5{background-image: url(Media/Picking%20crops.jpg);
        animation-delay: -16s;}
    
    @keyframes slider {
        0%,16%,100% {
            margin-left:0;
            animation-timing-function: ease;
        }
        
        20%{
            margin-left:  -100%;
            animation-timing-function: step-end;
            
        }
        96% {margin-left: 100%;
            animation-timing-function: ease;
            
        }
    }




    .carousel .img .text {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 30px;
        font-size: 50px;
        text-align: center;
        color: white;
        max-width: 60%;
    }
    .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
        z-index: -1;

    }
    P {box-shadow: 2px;}


@media (max-width:768px){
    .header , .logoContainer, .ourWork, .imgCards,.footer ,.Info{flex-direction: column;
    align-items: center;}

    .logoContainer{flex-direction: column;
    align-items: center;}

    img , .img {max-width: 100%;
    height: auto;}
    
    .name { 
        margin: -15px 0px 0px 0px;
    }
    .heading, .carousel {max-width: 100%;}

    p {padding: 10px;
    width: 100%;
height:fit-content;
font-size: 35px;}

    h1 {text-align: center;}
    .Info {padding: 30px 0px 0px 0px;}
    .Info2{padding-left: 0;
    gap: 20px;}

.links {
 margin-top: -70px;
}

.links ul li {width: 100%;
white-space: nowrap;
gap: 10px;}

.logoContainer .name{display: none;}

.imgCards{;}

    }
    
