body{
    justify-content: center;
    font-family: Roboto sans-serif;
}

.header 
{display: flex;
justify-content: space-between;
background-color: #1F2937;}

.header2{background-color: #1F2937;
display: flex;
justify-content: center;
padding-bottom: 170px;}

ul
{display: flex;
gap:30px;
list-style: none;}

a 
{
text-decoration: none;
color: #e5e7eb;}

.logo{
    padding: 30px;
    display: flex;

    align-items: center;
    color: #f9faf8;
    text-align: center;
}
.logo img {
    max-width: 100px;
}


.links {padding: 30px;}

.Info{display: flex;
padding: 30px;
gap:50px;
}

.Info2{display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap:10px;
flex-wrap: wrap;
flex: 1;}

 h1{font-size: 48px;
font-weight:bolder;
color: #f9faf8;}

.text {font-size: 18px;
color: #e5e7eb;}

button{border-radius: 1px;
background-color: rgb(236, 87, 87);
padding: 8px;
width: 160px;
font-size: 21px;
font-weight: bold;}

img {display: flex;
flex:1;
max-width :700px ;
height: auto;
border-radius: 12px;}

.ourWork{display: flex;
flex-direction: column;
align-items: center;}

.text3 h1{
    color:#1F2937;
    font-size: 36px;
}

.imgCards{
    display: flex;
    justify-content: center;
    gap:30px;
    flex: 1;
    flex-wrap: wrap;
}
.image1{
    display: flex;
    flex-direction: column;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(236, 87, 87);
    max-width: 400px;
    height: auto;
}
.funFact{background-color: #e5e7eb;
    display: flex;
justify-content: center;
margin-top: 20px;
font-size: 28px;
font-style: italic;
flex-wrap: wrap;
align-items: center;
padding: 20px;
margin-bottom: 20px;
}
.footer {background-color: #1F2937;
display: flex;
justify-content: center;
gap:50px;
}
